@media (max-width:500px) {

  .top-contents ,.recommend, .introduction ,.seminer-contents {
   width: 100%;
   margin: 0 auto 30px;
  }

  .top-content01 ,.top-content02 ,.top-content03  {
    padding: 30px;
  }

  .top-content01 h1 {
    font-size: 28px;
  }

  .top-content01 h2 {
    font-size: 36px;
    margin: 50px 0;
  }

  .top-content01 h3 {
    font-size: 60px;
    margin: 100px 0 40px;
    padding: 1rem 2rem;
  }

  .top-content01 h4 {
    font-size: 21px;
  }

  .top-content02 p {
    padding: 1rem 2rem 1rem 130px;
    margin-bottom: 50px;
    font-size: 12px;
    line-height: 30px;
  }

  .top-content02 span {
    font-size: 3rem;
  }

  .top-content03_head {
    font-size: 20px;
  }

  .top-content03_sub {
    font-size: 14px;
  }

  .seminer-text h1 {
    line-height: 1.4;
    font-size: 16px;
  }

  .seminer-text p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 30px;
  }

  .seminer-text h2 {
    padding: 5px 0;
    font-size: 13px;
  }

  .seminer-img h3 {
    font-size: 12px;
  }

  .contents-head {
   font-size: 24px;
   width: 100%;
  }

  .recommend {
   border: none;
   border-bottom: 2px solid black;
}

  .recommend-content {
   font-size: 18px;
  }

  .introduction {
    text-align: center;
  }

  .introduction-content_top {
    padding: 50px 0 0 0;
    display: inline-block;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .introduction-content_top img {
    width: 50%;
    height: 50%;
    margin: 20px auto;
  }

  .introduction-content_top h1,.introduction-content h1 {
    text-align: center;
    width: 20%;
    padding: 10px 20px;
    margin: 0 auto 20px;
  }

  .introduction-content_top h2 {
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    padding: 1em 0;/*上下の余白*/
    margin: 0 auto 1em;
  }

  .introduction-content {
    padding: 30px;
  }

  .introduction-content p {
    font-size: 15px;
  }

  .seminer-contents {
    width: 100%;
  }

  .seminer-content {
    padding: 30px 0px;
    margin: 30px auto;
    text-align: center;
}

  #special ,#special02 {
    font-size: 12px;
  }

  #special, #early {
    width: 80%;
  }

  .special-contents ,
  .early-contents ,
  .special-content ,
  .early-content {
    width: 100%;
  }

  #early,
  #early02 {
    font-size: 14px;
  }

  .seminer-explanation{
    width: 100%;
    border: none;
  }

  .seminer-explanation-contents h1, .explanation h2{
    font-size: 13px;
  }

  #special02, #early02 {
    width: 80%;
    font-size: 13px;
  }

  .table {
    display: inline-block;
    width: 100%;
    margin: 30px auto 0;
    justify-content: space-between;
  }

  .table01, .table02 {
    width: 90%;
    margin: 10px auto;
  }

.table01-head {
  padding: 22px 10px;
}

.table01-head h3,.table02-head h3 {
  width: 20%;
}

.table01-head h4,.table02-head h4 {
  width: 100%;
}

.table01-text ,.table02-text {
  padding: 15px;
  background-color: rgb(243,243,243,0.6);
  border-radius: 5px;
}

.table01-text {
  line-height: 30px;
}

.table02-text {
  line-height: 30px;
  font-size: 14px;
}

.explanation-sub {
  width: 90%;
}

.explanation-sub p {
  margin: 5px 0;
  font-size: 12px;
}

.seminer-explanation-document p {
  margin: 30px 0;
  line-height: 30px;
  font-size: 12px;
}

}



