@media (max-width:500px) {

  .top-contents ,.recommend, .introduction ,.seminer-contents {
   width: 100%;
   margin: 0 auto 30px;
  }

  .top-content01 ,.top-content02 ,.top-content03  {
    padding: 50px 30px;
  }

  .top-content01 h1 {
    font-size: 28px;
  }

  .top-content01 h2 {
    font-size: 36px;
    margin: 50px 0;
  }

  .top-content01 h3 {
    font-size: 60px;
    margin: 100px 0 40px;
    padding: 1rem 2rem;
  }

  .top-content01 h4 {
    font-size: 21px;
  }

  .top-content02 p {
    padding: 1rem 2rem 1rem 130px;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 30px;
  }

  .top-content02 span {
    font-size: 3rem;
  }

  .top-content03 h1 {
    line-height: 1.4;
    font-size: 16px;
  }

  .top-content03 h2 {
    padding: 50px 0 10px 0;
    font-size: 11px;
  }

  .top-content03 h2:before {
    bottom: -5px;
    height: 3px;
  }

  .top-content03 p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 30px;
  }

  .seminer-img h3 {
    font-size: 12px;
  }

  .contents-head {
   font-size: 24px;
   width: 100%;
  }

  .recommend {
   border: none;
   border-bottom: 2px solid black;
}

  .recommend-content {
   font-size: 18px;
  }

  .introduction-contents {
   text-align: center;
   padding: 30px 0;
   display: block;
   border: none;
   border-bottom: 2px solid black;
  }

  .introduction-contents img {
   width: 60%;
   height: 60%;
   margin-right: 0;
   margin: 30px auto;
  }

  .introduction-content {
   width: 100%;
  }

  .introduction-content h1 {
   width: 80%;
   padding: 10px 20px;
   margin: 0 auto 20px;
  }

  .introduction-content h2 {
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 3em;
  }

  .introduction-content ruby {
   font-size: 22px;
   margin: 20px 0 30px;
  }

  .introduction-content p {
   font-size: 16px;
   padding-bottom: 10px;
   line-height: 26px;
  }

  .seminer-contents {
    width: 100%;
  }

  #special ,#special02 {
    font-size: 12px;
  }

  .special-contents ,.early-contents {
    width: 100%;
  }

  .special-content ,.early-content{
    width: 100%;
  }

  #early,
  #early02 {
    font-size: 14px;
  }

  .seminer-explanation{
    width: 100%;
  }

  .seminer-explanation-contents h1, .explanation h2{
    font-size: 13px;
  }

  #special02, #early02 {
    width: 80%;
    font-size: 13px;
  }

  table {
    display: none;
  }

  .res-table {
  display: block;
  }

  .res-table01 h3 ,.res-table02 h3 {
   margin: 30px auto 0;
   text-align: center;
   width: 90%;
   font-size: 15px;
   line-height: 26px;
  }

  .res-table01-text ,.res-table02-text {
   border: 1px solid black;
   width: 90%;
   margin: 0 auto;
   padding: 1rem 0;
   border: none;
   border-top: 2px dashed #000;
   border-bottom: 2px dashed #000;
  }

  .explanation p {
   font-size: 11px;
  }

  .res-table01-text p {
   font-size: 12px;
   border: none;
   line-height: 25px;
  }

  .seminer-explanation-document a {
    width: 80%;
    line-height: 30px;
    font-size: 16px;
    padding: 1.5rem 2rem;
  }

  .seminer-explanation-document p {
    font-size: 11px;
  }

}



